@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  height: 100%;
  width: 330px;
  position: relative;
}
input[type="checkbox"]{
  display:none
}
.wrapper .menu-btn{
  position: absolute;
  top: 10px;
  left: 20px;
  height: 45px;
  width: 45px;
  z-index: 999;
  color: #f2f2f2;
  font-size: 23px;
  background: #4a4a4a;
  border: 1px solid #333;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 247px;
}
#btn:checked ~ .menu-btn i::before{
  content: "\f623";
}
#btn:checked ~ #sidebar{
  left: 0;
} 
.wrapper #sidebar{
  position: fixed;
  width: 270px;
  height: 100%;
  background: #404040;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}
#sidebar li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li:hover{
  box-shadow: 0 0 10px 3px #222;
  margin-top: 1px solid transparent;
  margin-bottom: 1px solid transparent;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#sidebar .title{
  color: #f2f2f2;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  background: #333;
  line-height: 65px;
}
#sidebar .list-items{
  position: relative;
  background: #404040;
  height: 100%;
  width:100%;
  list-style: none;
}
#sidebar .list-items li{
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons{
  height: 40px;
  width: 100%;
  bottom: 100px;
  position: absolute;
  display: flex; 
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a{
  margin: 0 5px;
  color: #f2f2f2;
  display: block;
  height: 40px;
  width: 40px;
  background: #4a4a4a;
  text-align: center;
  border: 1px solid #383838;
  line-height: 40px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
  background: #404040;
}